@use '../abstracts/' as *;

.btn {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  user-select: none;
  font-weight: 500;
  border-radius: 9px;
  border: transparent;
  cursor: pointer;
  transition: background-color 0.23s;
}

.primary--btn {
  background-color: $primary-color;
  color: #f2ecfe;

  &:hover {
    background-color: #490ebe;
  }

  &:active {
    background-color: #3a0b98;
  }
}
.secondary--btn {
  background-color: #f2ecfd;
  color: $black-color;
  border: 1px solid #a87cf4;

  &:hover {
    background-color: #e6dafb;
  }

  &:active {
    background-color: #cdb6f7;
  }
}

.toolbar-icon,
.todo__delete-btn {
  color: #74787c;
  transition:
    color 0.23s,
    background-color 0.23s,
    opacity 0.23s;
  cursor: pointer;
  border-radius: 7px;
  padding: 0.6rem;
}
.delete-btn {
  &:hover,
  &--active {
    background-color: #f5cccf;
    color: #e16670;
  }
  &:active {
    background-color: #f2c3c6;
    color: #d73340;
  }

  &--disabled {
    cursor: not-allowed;
  }
}
.filter-btn {
  margin-left: auto;
  &:hover,
  &--active {
    background-color: #ffedc2;
    color: #e09d00;
  }
  &:active {
    color: #b88100;
    background-color: #fce9be;
  }
  &--disabled {
    cursor: not-allowed;
  }
}
.todo__delete-btn {
  margin-left: auto;
  color: #bda0f8;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  &--active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  &:hover,
  &--active:hover {
    background-color: #f5cccf;
    color: #e16670;
  }
  &:active {
    background-color: #f2c3c6;
    color: #d73340;
  }

  &--disabled {
    cursor: not-allowed;
  }
}
