@use '../abstracts/' as *;

.btn {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  user-select: none;
  font-weight: 500;
  border-radius: 9px;
  border: transparent;
  cursor: pointer;
  transition: background-color 0.23s;
}

.primary--btn {
  background-color: var(--primary-color);
  color: var(--bg-color);

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &:active {
    background-color: var(--primary-color-active);
  }
}
.secondary--btn {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color-shade-1);

  &:hover {
    background-color: var(--bg-color-hover);
  }

  &:active {
    background-color: var(--bg-color-active);
  }
}

.toolbar-icon,
.todo__delete-btn,
.theme-btn {
  color: var(--text-color-2);
  transition:
    color 0.23s,
    background-color 0.23s,
    opacity 0.23s;
  cursor: pointer;
  border-radius: 7px;
  padding: 0.6rem;
}
.delete-btn {
  &:hover,
  &--active {
    background-color: var(--delete-btn-color-shade-1);
    color: var(--delete-btn-color-shade-2);
  }
  &:active {
    background-color: var(--delete-btn-color-shade-1-active);
    color: var(--delete-btn-color-shade-2-active);
  }

  &--disabled {
    cursor: not-allowed;
    &:hover,
    &:active {
      background-color: initial;
      color: var(--text-color-2);
    }
  }
}
.filter-btn {
  margin-left: auto;
  &:hover,
  &--active {
    background-color: var(--filter-btn-color-shade-1);
    color: var(--filter-btn-color-shade-2);
  }
  &:active {
    background-color: var(--filter-btn-color-shade-1-active);
    color: var(--filter-btn-color-shade-2-active);
  }
  &--disabled {
    cursor: not-allowed;
    &:hover,
    &:active {
      background-color: initial;
      color: var(--text-color-2);
    }
  }
}
.todo__delete-btn {
  margin-left: auto;
  color: var(--primary-color-shade-1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  flex-shrink: 0;

  .todo__list--item:hover & {
    color: var(--delete-btn-color-shade-2);
  }

  &--active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  &:hover,
  &--active:hover {
    background-color: var(--delete-btn-color-shade-1);
    color: var(--delete-btn-color-shade-2);
  }
  &:active {
    background-color: var(--delete-btn-color-shade-1-active);
    color: var(--delete-btn-color-shade-2-active);
  }

  &--disabled {
    cursor: not-allowed;
  }
}

.theme-btn {
  position: absolute;

  top: 20px;
  left: 20px;

  &:hover {
    background-color: var(--text-color-4);
    color: var(--text-color-2);
  }
  &:active {
    background-color: var(--text-color-3);
    color: var(--text-color-3);
  }

  &--disabled {
    cursor: not-allowed;
    &:hover,
    &:active {
      background-color: initial;
      color: var(--text-color-2);
    }
  }
}
