@use 'abstracts' as *;
@use 'components' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition:
    background-color 0.53s ease,
    color 0.53s ease;
}

main {
  margin: auto 0;
}

.no-transition * {
  transition: none !important;
}

@media (max-width: 600px) {
  html {
    font-size: 48%;
  }
  .toolbar-icon,
  .todo__menu-btn,
  .theme-btn,
  .todo__delete-btn {
    width: 30px;
    height: 30px;
  }

  .lucide-check {
    width: 22px;
    height: 22px;
  }

  .todo__list--important ::after {
    left: -33px !important;
  }
}
