@use 'abstracts' as *;
@use 'components' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition:
    background-color 0.53s ease,
    color 0.53s ease;
}

main {
  margin: auto 0;
}
